html, body {
  padding: 0;
  margin: 0;
  background: #fff;
}

body {
  font-size: 100%;
  font-family: "Noto Serif", serif;
  max-width: 80ch;
  padding: 40px;
  margin: 0 auto;
  color: #0B1215;
}

h1, h2 {
  margin: 0 0 1.5rem;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.875rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

h4 {
  margin: 0;
  font-size: 1.125rem;
}

address {
  font-style: normal;
}

address h1 {
  margin: 0 0 0.25rem;
}

section {
  margin: 3rem 0;
}

section > section {
  margin: 2rem 0;
}

p {
  margin: 0.75rem 0;
}

ul {
  list-style-type: disc;
}

ul li {
  margin: 0.25rem 0;
}

ul li:first-child {
  margin-top: 0;
}

ul li:last-child {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.titles,
.roles {
  list-style-type: none;
  padding: 0;
  margin: 1.25rem 0;
}

.titles {
  margin: 0;
}

.titles > li {
  margin: 0.25rem 0;
}

.roles {
  margin-left: 1.25rem;
}

.roles > li {
  margin: 1.25rem 0;
}

.roles > li:first-child {
  margin-top: 0;
}

.roles > li:last-child {
  margin-bottom: 0;
}

@media print {
  body {
    font-size: 75%;
    max-width: initial;
  }
}
