.job_list {
    width: 100%;
    margin: 20px 0;
}

.job_list tr td {
    vertical-align: middle;
}

.widget_geekwork_jobs .job_list {
    margin: 10px 0;
}

.job_list caption {
    font-size: 150%;
    text-align: center;
}

.job_listing td {
    padding: 15px;
}

.widget_geekwork_jobs .job_listing td {
    padding: 8px 5px;
}

.job_logo {
    width: 30%;
}

.job_logo img {
    height: auto;
    width: auto;
    max-height: 75px;
    max-width: 180px;
}

.widget_geekwork_jobs .job_logo img {
    max-height: 50px;
    max-width: 100px;
}

.job_title {
    width: 70%;
}

.job_cta {
    text-align: center;
    font-size: 125%;
}

tfoot .job_cta {
    padding-top: 20px;
}

.widget_geekwork_jobs .job_cta {
    font-size: 110%;
    padding-top: 15px;
}
